{% extends "base.html" %}
{% load static %}

{% block title %}Individuals{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<div class="row align-items-center mb-2">
    <div class="col-md-9">
        <h2>Individuals</h2>
    </div>
    <div class="col-md-3">
        <div class="float-right">
            <a class="btn btn-success" href="{% url 'add_individual' %}">
                <i class="fas fa-user-plus"></i> Add Individual</a>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary float-right mr-3" data-toggle="modal"
                data-target="#helpModal">
            <i class="far fa-question-circle"></i> Help
        </button>

        <!-- Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog"
             aria-labelledby="helpModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helpModalLabel">Help</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Overview</h6>
                        <p>
                            Add and manage individuals on this page. Specifically, add SNPs /
                            upload files from DTC DNA testing companies in order to compare
                            individuals to <a href="{% url 'shared_dna_genes' %}">find shared DNA
                            and genes</a> or <a href="{% url 'discordant_snps' %}">discordant
                            SNPs</a>.
                        </p>
                        <h6>What files can I upload?</h6>
                        <p>
                            The genotype ("raw data") files distributed by
                            <a href="https://www.23andme.com">23andMe</a>,
                            <a href="https://www.ancestry.com">AncestryDNA</a>, and
                            <a href="https://www.familytreedna.com">Family Tree DNA</a> should
                            be compatible with <strong>lineage</strong>.
                        </p>
                        <p>
                            Unfortunately, <strong>lineage</strong> can't yet accept VCF files.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if individuals|length == 0 %}
<p>No Individuals currently associated with user...</p>
{% else %}
{% for individual in individuals %}
{% include "pages/individual_card.html" %}
{% endfor %}
{% endif %}

<div class="modal fade" id="modal-progress" tabindex="-1" role="dialog" aria-labelledby="uploadSnps" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Uploading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jquery %}{% endblock jquery %}
{% block javascript %}
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
{% endblock javascript %}
