{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}

{% block title %}Shared DNA and Genes - Details{% endblock %}

{% block content %}
<h2>{{ shared_dna_genes.individual1.name }} / {{ shared_dna_genes.individual2.name }} Shared
    DNA and Genes (GRCh37)</h2>
<p>
    <span class="badge badge-pill badge-secondary">
        cM Threshold = {{ shared_dna_genes.cM_threshold }}
    </span>
    <span class="badge badge-pill badge-secondary">
        SNP Threshold = {{ shared_dna_genes.snp_threshold }}
    </span>
</p>
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Shared DNA</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img src="{{ shared_dna_genes.get_shared_dna_plot_png_url }}" class="img-fluid"
             alt="Shared DNA Plot">
    </div>
    <div class="col-sm-6">

        <div class="row">
            <div class="col-sm-6">
                <h5>1 Chromosome</h5>
            </div>
            <div class="col-sm-6">
                {% if shared_dna_one_chrom_table %}
                <a href="{{ shared_dna_genes.get_shared_dna_one_chrom_csv_url }}"
                   class="btn btn-outline-info btn-sm float-right" download>
                    <i class="far fa-arrow-alt-circle-down"></i> Download</a>
                {% endif %}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-12">
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_shared_segments_one_chrom }}
                    {% if shared_dna_genes.total_shared_segments_one_chrom != 1 %}
                    Segments
                    {% else %}
                    Segment
                    {% endif %}
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_chrom_one_chrom }}
                    {% if shared_dna_genes.total_chrom_one_chrom != 1 %}
                    Chromosomes
                    {% else %}
                    Chromosome
                    {% endif %}
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_shared_cMs_one_chrom|intcomma }} cMs
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_snps_one_chrom|intcomma }} SNPs
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% if shared_dna_one_chrom_table %}
                {% render_table shared_dna_one_chrom_table %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h5>2 Chromosomes</h5>
            </div>
            <div class="col-sm-6">
                {% if shared_dna_two_chrom_table %}
                <a href="{{ shared_dna_genes.get_shared_dna_two_chrom_csv_url }}"
                   class="btn btn-outline-info btn-sm float-right" download>
                    <i class="far fa-arrow-alt-circle-down"></i> Download</a>
                {% endif %}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-12">
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_shared_segments_two_chrom }}
                    {% if shared_dna_genes.total_shared_segments_two_chrom != 1 %}
                    Segments
                    {% else %}
                    Segment
                    {% endif %}
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_chrom_two_chrom }}
                    {% if shared_dna_genes.total_chrom_two_chrom != 1 %}
                    Chromosomes
                    {% else %}
                    Chromosome
                    {% endif %}
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_shared_cMs_two_chrom|intcomma }} cMs
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ shared_dna_genes.total_snps_two_chrom|intcomma }} SNPs
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% if shared_dna_two_chrom_table %}
                {% render_table shared_dna_two_chrom_table %}
                {% endif %}
            </div>
        </div>
    </div>

</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h4>Shared Genes</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <h5>1 Chromosome</h5>
            </div>
            <div class="col-sm-6">
                {% if shared_dna_genes.shared_genes_one_chrom_csv %}
                <a href="{{ shared_dna_genes.get_shared_genes_one_chrom_csv_url }}"
                   class="btn btn-outline-info btn-sm float-right" download>
                    <i class="far fa-arrow-alt-circle-down"></i> Download</a>
                {% endif %}
            </div>
        </div>

        <span class="badge badge-pill badge-secondary">
            {{ shared_dna_genes.total_shared_genes_one_chrom|intcomma }} Genes
        </span>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <h5>2 Chromosomes</h5>
            </div>
            <div class="col-sm-6">
                {% if shared_dna_genes.shared_genes_two_chrom_csv %}
                <a href="{{ shared_dna_genes.get_shared_genes_two_chrom_csv_url }}"
                   class="btn btn-outline-info btn-sm float-right" download>
                    <i class="far fa-arrow-alt-circle-down"></i> Download</a>
                {% endif %}
            </div>
        </div>

        <span class="badge badge-pill badge-secondary">
            {{ shared_dna_genes.total_shared_genes_two_chrom|intcomma }} Genes
        </span>
    </div>
</div>

{% endblock content %}
