{% extends "base.html" %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8">
        <h2>Terms of Use</h2>
        <p>
            <a href="{% url 'index' %}">lineage.app</a> (&ldquo;Web App&rdquo; / &ldquo;service&rdquo;)
            provides an online service that makes available capabilities of the open source
            <a href="https://github.com/apriha/lineage">lineage</a> Python package. The Web App is
            administered by Scedastic Software, LLC (&ldquo;Scedastic Software&rdquo;), and the
            service is provided in the hope that it will be useful, but WITHOUT ANY WARRANTY;
            without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
            PURPOSE.
        </p>
        <p>
            These Terms of Use (&ldquo;Terms&rdquo;) apply to your use of the Web
            App and service. Please read these Terms carefully, since when
            you use the Web App, you agree to be bound by them.
        </p>
        <h3>Content</h3>
        <p>
            You can post content to the Web App, including genetic data,
            and other material you choose.
        </p>
        <p>
            You &mdash; and you alone &mdash; own the rights to the content you create and
            post on the Web App. By publishing it on our site, you give Scedastic Software
            permission to use your content to do what we reasonably believe is
            necessary to provide our service, including storing, analyzing, displaying,
            reproducing, distributing, and creating derivative works of your content.
        </p>
        <p>
            You are responsible for the information you import to or publish on the Web App
            and assume all risk associated with it, including anyone else&rsquo;s
            reliance on its accuracy or legal claims that might stem from it. By
            posting content on the Web App, you represent that you have the necessary
            rights to publish that material, and that doing so doesn&rsquo;t conflict with
            any licenses you may have granted to others or that others may have granted to you.
        </p>
        <p>
            We don’t pre-screen anyone&rsquo;s content. However, we have the right to
            review and disable access to any content posted on the Web App. We
            aren&rsquo;t responsible for anything that you or anyone else imports to
            or posts on our service.
        </p>
        <p>
            The Web App may contains links to websites, data, and content that we
            don&rsquo;t own or control. We don&rsquo;t endorse or assume responsibility for
            that material, either.
        </p>
        <p>
            Any feedback, comments, or suggestions you send us about the Web App is
            entirely voluntary. We are free to use such feedback, comments, or
            suggestions as we see fit and without any obligation.
        </p>
        <h3>Your Imported Personal Data</h3>
        <p>
            You decide whether you&rsquo;d like to import your personal data into the Web App
            and share it with others. Please understand that if you choose to make your
            personal data available to anyone else, they may decide to use it for other purposes
            with or without your explicit approval. Scedastic Software isn&rsquo;t responsible
            for enforcing any agreements you might make with others about their use of your data
            or for their data practices.
        </p>
        <h3>Research and Similar Uses</h3>
        <p>
            We must rely on our users to post only data that is accurate and that
            they have the right to post. We do not pre-screen data and do not have
            the ability to independently confirm that any posted data is accurate or
            legal to use. We are not liable for any damages caused to any researcher
            or similar user by reliance on data that proves to be inaccurate or
            otherwise unusable.
        </p>
        <h3>Scedastic Software&rsquo;s Rights</h3>
        <p>
            Our service is protected by copyright, trademark, and other intellectual
            property laws. Scedastic Software gives you a personal, worldwide, non-assignable
            license to use the software we provide for your own personal,
            non-commercial use. This license lets you use the Web App solely as
            permitted by these Terms.
        </p>
        <p>
            For some content, alternative licenses or public domain dedications may
            allow more permissive use.
        </p>
        <p>
            Unauthorized use of any of Scedastic Software&rsquo;s trademarks, logos, domain
            names, or other distinctive brand features is not allowed.
        </p>
        <h3>Our Use of Content and Data on the Web App</h3>
        <p>
            We reserve the right to access, read, preserve, and disclose any
            information we believe is necessary to (i) satisfy any applicable law,
            regulation, legal process or governmental request; (ii) enforce the Terms,
            including investigation of potential violations; (iii) detect, prevent, or
            otherwise address fraud, security or technical issues; (iv) respond to
            user support requests; or (v) protect the rights, property or safety of
            the Web App, its users and the public.
        </p>
        <h3>Community Guidelines</h3>
        <p>
            You promise to use the Web App only for lawful purposes, and to not
            violate the rights of others.
        </p>
        <h3>Data Collection and Sharing</h3>
        <p>
            Any information you provide to the Web App is subject to the
            <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, which governs
            our collection and use of your information. By using the Web App you
            consent to the collection and use of this information as explained in the
            Data Use Policy. Please review those provisions, as well.
        </p>
        <p>
            The Web App is operated within the United States and is intended only for
            US residents.
        </p>
        <h3>Data Security</h3>
        <p>
            We take the security of our service very seriously. We use reasonable
            practices to protect the security of your account and data, but we
            can&rsquo;t guarantee that someone won&rsquo;t be able to defeat our security
            measures. Please let us know immediately if you discover any compromise
            of your account.
        </p>
        <p>
            If you discover a vulnerability in our service, we would be grateful for
            your report and encourage you to let us know immediately. To report a
            security vulnerability, please email
            <a href="mailto:support@lineage.app">support@lineage.app</a>.
        </p>
        <h3>Kids</h3>
        <p>
            Sorry, but the Web App is not directed to people 15 and younger. If we
            become aware that we have directly collected personal information from a
            child under 16, we will delete that information.
        </p>
        <h3>Changes to Our Service</h3>
        <p>
            We&rsquo;re always working to make the Web App better. This means we may change
            the functionality or appearance of the service at any time, for any
            reason, with or without advance notice.
        </p>
        <h3>Disclaimers</h3>
        <p>
            The Web App is provided &ldquo;as is&rdquo; without any warranties, express or implied.
        </p>
        <p><em>
            Scedastic Software disclaims all warranties and representations of
            merchantability, fitness for a particular purpose and non-infringement.
        </em></p>
        <h3>Limitation of Liability</h3>
        <p><em>
            To the fullest extent allowed by law, Scedastic Software shall not be liable for
            any indirect, incidental, special, consequential or punitive damages, or
            any loss of profits or revenues (whether incurred directly or indirectly),
            or any loss of data, use, goodwill or other intangible losses resulting
            from (A) your access to, use of, inability to access or inability to use
            the Web App; (B) any third party conduct or content on the Web App,
            including any defamatory, offensive or illegal conduct of third parties;
            or (C) any unauthorized access, use or alteration of your content. To the
            extent permitted by law, the total liability of Scedastic Software,
            for any claims under these terms, including for any implied warranties, is
            limited to the amount you paid us to use these services.
        </em></p>
        <h3>Waiver and Severability</h3>
        <p>
            The failure of Scedastic Software to enforce any right or provision of these
            Terms is not a waiver. If any provision of these Terms is held invalid or
            unenforceable, the other provisions will remain in full force and effect.
        </p>
        <h3>Termination or Suspension of Access to the Web App</h3>
        <p>
            Scedastic Software has the right to suspend or terminate your ability to access
            our service for any reason, with or without notice.
        </p>
        <h3>Entire Agreement</h3>
        <p>
            These Terms, and the <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, govern
            your use of the Web App and Scedastic Software&rsquo;s operation of the site.
        </p>
        <p>
            The most current version of these Terms supersede any prior versions of
            this agreement.
        </p>
        <p>
            Scedastic Software may revise these Terms from time to time. The most current
            version will always be available
            <a href="{% url 'terms-of-use' %}">online</a>. If we believe a
            revision is material, we will notify you via e-mail and prominently display
            a notice on our site 7 days before we make those changes. By continuing to
            access or use the Web App after those revisions become effective, you
            agree to be bound by the revised Terms.
        </p>
        <h3>Contact</h3>
        <p>
            Scedastic Software welcomes questions, concerns, and feedback about these terms.
            If you have suggestions, feel free to let us know at
            <a href="mailto:support@lineage.app">support@lineage.app</a>.
        </p>
    </div>
</div>
{% endblock content %}
